[submodule "frontend"]
	path = frontend
	url = https://github.com/es10130813/Madcamp2ndWeek_front.git
[submodule "Madcamp2ndWeek_front"]
	path = Madcamp2ndWeek_front
	url = https://github.com/es10130813/Madcamp2ndWeek_front.git
